@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: bisque;
    display: flex;
    justify-content: center;
}

main {
    position: absolute;
    top:20%;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 3px rgba(17, 17, 17, 0.342);
   
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 21px;
}

h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 18px;
}

#input{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

input {
    height: 35px;
    width: 300px;
    border-color: lightgrey;
    border-radius: 10px;
    border: 2px solid lightgrey;
}

p {
    font-weight: bold;
    padding: 20px;
    font-size: 12px;
}

#but {
    display: flex;
    justify-content: center;
}

button {
    height: 30px;
    width: 150px;
    border-radius: 8px;
    background-color: white;
    border-color: rgb(0, 119, 255);
    font-weight: bold;
    transition: 0.5;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 119, 255);
    color: white;
    font-weight: bold;
    transition: 0.5;
}

#RESULT {
    display: none;
    justify-content: center;
    margin-top: 20px;
    padding: 12px;
    color: white;
    background-color: rgb(172, 38, 38);
}